<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Social</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/" class="nav-link">Inicio</a>
            <a href="/users" class="nav-link">Usuarios</a>
            <a href="/influencers" class="nav-link">Influencers</a>
            <a href="/posts" class="nav-link">Publicaciones</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Red Social. *OK*.</p>
    </footer>
</body>
</html>
